* {
font-family:sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: grey;
}

a {
    text-decoration: none;
    color: black;
    margin-right: 15px;
}
img {
    max-width: 100%;
}

header nav a:hover {
    text-decoration: underline;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 30px 5%;
    background-color: grey;
}

/* GLOBAL CLASSES */

.justify-between {
    justify-content: space-between;
}

/* IMPORTS */

